{% extends "staticfiles/base.html" %}

{% load static %}

{% block content %}

<div class="col-md-12">
    <h4>Edit Complaints</h4>
 <form method="POST" class="post-form" action="/complaints/update/{{result.id}}">
   {% csrf_token %}
  <div class="container">
 <br>
  <div class="form-group row">
  <label class="col-sm-1 col-form-label"></label>
  <div class="col-sm-4">
  <h3>Update Details</h3>
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Complaint Id:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="id" id="id_id" required maxlength="20" value="{{ result.id }}"/>
  </div>
   </div>
   <div class="form-group row">
  <label class="col-sm-2 col-form-label">Title:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="title" id="id_title" required maxlength="100" value="{{ result.title }}" />
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Text:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="text" id="id_text" required maxlength="254" value="{{ result.text }}" />
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label">Attachment:</label>
  <div class="col-sm-4">
   <input type="text" class="form-control" name="attachment" id="id_attachment" required maxlength="15" value="{{ result.attachment }}" />
  </div>
   </div>
  <div class="form-group row">
  <label class="col-sm-1 col-form-label"></label>
  <div class="col-sm-4">
  <button type="submit" class="btn btn-success btn-lg">Update</button>
  </div>
   </div>
  </div>
 </form>


{% endblock %}